<div class="w3-container w3-content" style="max-width:1400px;">
    <div class="w3-row">
        <div class="w3-col m4">
            <!-- Profile -->
            <div class="w3-margin">
                <div class="w3-card-2 w3-round w3-white">
                    <div class="w3-container">
                        <h4 class="w3-center">My Profile</h4>
                        <p class="w3-center"><img src="./app/img/avatar_circle_blue_512dp.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
                        <hr>
                        <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> Designer, UI</p>
                        <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> London, UK</p>
                        <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> April 1, 1988</p>
                        <a><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> Sign out</a>
                        <p></p>
                    </div>
                </div>
                <br>

                <!-- Accordion -->
                <div class="w3-card-2 w3-round">
                    <div class="w3-accordion w3-white">
                        <button class="w3-btn-block w3-theme-l1 w3-left-align">
                            <i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> New package
                        </button>
                    </div>
                </div>
                <br>

                <div class="w3-card-2 w3-round">
                    <div class="w3-accordion w3-white">
                        <ul class="w3-ul w3-card-4 w3-hoverable" style="width:100%">
                            <li><h3>Package 1</h3></li>
                            <li><h3>Package 2</h3></li>
                            <li><h3>Package 3</h3></li>
                            <li><h3>Package 4</h3></li>
                            <li><h3>Package 5</h3></li>
                            <li><h3>Package 6</h3></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Middle Column -->
        <div class="w3-col m8" style="height: 100%">
            <div class="w3-container w3-card-2 w3-white w3-round w3-margin w3-hover-shadow"><br>
                <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut?</h4><br>
                <hr class="w3-clear">
                <h5>Answer</h5>
            </div>

            <div class="w3-container w3-card-2 w3-white w3-round w3-margin w3-hover-shadow"><br>
                <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut?</h4><br>
                <hr class="w3-clear">
                <h5>Answer</h5>
            </div>

            <div class="w3-container w3-card-2 w3-white w3-round w3-margin w3-hover-shadow"><br>
                <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut?</h4><br>
                <hr class="w3-clear">
                <h5>Answer</h5>
            </div>

            <div class="w3-container w3-card-2 w3-white w3-round w3-margin w3-hover-shadow"><br>
                <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut?</h4><br>
                <hr class="w3-clear">
                <h5>Answer</h5>
            </div>

        </div>
    </div>
</div>
