<div class="container">
    <h1>Login Form</h1>
    <form (submit)="login()">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" [(ngModel)]="user.username" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" required>
        </div>
        <div class="alert alert-danger" *ngIf="message" role="alert">{{message}}</div>
        <button type="submit" class="btn btn-default">Login</button>
        <button type="button" class="btn btn-default" (click)="forgetPass()">Forget Password</button>
        <button type="button" class="btn btn-default" (click)="register()">Register</button>
    </form>
</div>