<div class="container col-md-8">
    <h3 class="logo">SPQ Corp</h3>
    <h1 class="question center-block">Who is this is this is this is this is this is this is this this is this is this is this is this is this is this?</h1>
    <img src="http://i.imgur.com/RRUe0Mo.png" class="center-block image-question">
</div>
<div class="col-md-4 content">
    <div class="countdown center-block">
        <span class="time-countdown center-block" id="clock"></span>
    </div>

    <div class="group-button-answer">
        <button class="btn btn-block btn-success button-answer" (click)="showError()">Test</button>
        <button class="btn btn-block btn-info button-answer">Test</button>
        <button class="btn btn-block btn-warning button-answer">Test</button>
        <button class="btn btn-block btn-danger button-answer">Test</button>
    </div>

</div>
