<div class="col-md-12 content">
  <div class="intro">
    <h3 class="logo">SPQ Corp</h3>
    <a class="button-bar" *ngIf="isLogin === false" routerLink="/login">Login</a>
    <a class="button-bar" *ngIf="isLogin" routerLink="/dashboard">Dashboard</a>
  </div>
  <div class="gameNameArea">
    <p class="gameName">Teaching Game</p>
  </div>
  <form (submit)="joinGame()">
    <div class="inputUsername">
      <input type="text" class="input" id="username"
             placeholder="NAME" [(ngModel)]="username" name="username" required>
    </div>
    <div class="inputPin">
      <input type="text" class="input" id="pin"
             placeholder="PIN" [(ngModel)]="gamePIN" name="pin" required>
    </div>
    <div class="buttonArea">
      <button type="submit" class="button">ENTER</button>
    </div>
  </form>
</div>
