.content {
  /*background-color: #FFFFFF  ;*/

  height: 100vh;
  background: url("../assets/img/login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.logo {
  margin: 0px;
  height: 5%;
  color: #ff0707;
  font-family: "My Custom Font 4";
  display: inline;
  font-size:25px;
  font-weight: bold;
}

.intro{
  padding: 0.5%;
}

.button-bar{
  font-size:25px;
  color: #ff0707;
  font-weight: bold;
  font-family: "My Custom Font 4";
  float:right;
  margin-left: 30px;
  cursor: pointer;
  text-decoration:none;

}

a:hover {
  color: #ff8383;
}

button:hover{
  background-color: #5f9ad4;
}

input:hover{
  border: 3px solid #8ab5e0;
}

.inputPin{
  text-align: center;
  margin-top: 2%;
}

.inputUsername{
  text-align: center;
}

.input{
  height: 60px;
  border: 3px solid #2196F3;
  border-radius: 4px;
  width: 300px;
  font-size: 40px;
  text-align: center;
}

.buttonArea{
text-align: center;
  margin-top: 2%;
}

.gameNameArea{
  margin-top: 7%;
  text-align: center;
  font-family: "My Custom Font", Verdana, Tahoma;
  color: #FFFFFF;
}

.gameName{
  font-size: 75px;
  color:#f33a3a;
  font-family: "My Custom Font 2";
}

.button {
  background-color: #1976D2; /* Green */
  border-radius: 4px;
  border: none;
  color: white;
  text-align: center;
  height: 60px;
  font-size: 40px;
  width: 300px;
  cursor: pointer;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #757575;

  font-size: 30px;
  text-align: center;
}
