<div class=" col-md-8">
    <h3 class="logo">SPQ Corp</h3>
    <p class="question ">Who is this is this is this is this is this is this is this this is this is this is this is this is this is this?</p>
    <img src="http://i.imgur.com/RRUe0Mo.png" class="center-block image-question">
</div>
<div class="col-md-4 content">
    <div class="btnNextQuestion">
        <button class="btn btn-default btnNext">NEXT</button>
    </div>
    <div class="countdown ">
        <span class="time-countdown center-block" id="clock"></span>
    </div>

    <div class="group-button-answer">
        <button class="btn btn-block btn-success button-answer" (click)="showError()">A</button>
        <button class="btn btn-block btn-info button-answer">B</button>
        <button class="btn btn-block btn-warning button-answer">C</button>
        <button class="btn btn-block btn-danger button-answer">D</button>
    </div>

</div>
