<div class="container col-md-4">
    <h3 class="logo">SPQ Corp</h3>
    <h1 class="title-form">Reset Pass</h1>
    <form class="my-form" (submit)="resetPass()">
        <div class="form-group">
            <input type="password" class="form-control input-field center-block" (blur)="checkValidPassword()" id="pwd"
                   placeholder="Password" [(ngModel)]="user.password" name="password" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control input-field center-block" id="cf_pwd" (blur)="checkValidPassword()"
                   placeholder="Confirm password" [(ngModel)]="confirmPass" name="confirm_pass" required>
        </div>
        <div class="alert alert-danger message center-block" *ngIf="messageConfirmPass" role="alert">{{messageConfirmPass}}</div>
        <button type="submit" class="btn btn-info btn-submit center-block">Reset password</button>
    </form>
</div>
<div class="col-md-8 content">
</div>
