<div class="container col-md-8">
  <h3 class="logo">SPQ Corp</h3>
  <h1 class="hello center-block">Welcome to the new world!</h1>

</div>
<div class="col-md-4 content">
  <div class="countdown center-block">
    <span class="time-countdown center-block" id="clock"></span>
  </div>

  <div class="player">
    <button class="btn btn-default">Start Game</button>
    <ul class="list-group">
      <li class="list-group-item list-group-item-info list-players" *ngFor="let user of listUser">{{user}}</li>
    </ul>
  </div>

</div>
